<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="<%= @profile.image %>" class="user-img" />
          <h4><%= @profile.username %></h4>
          <p><%= @profile.bio %></p>
          <% if current_user && current_user != @profile.username %>
            <%= link_to (current_user.following?(@profile) ? 'Unfollow' : 'Follow') + " #{@profile.username}", follow_profile_path(@profile.username), method: :post, class: "btn btn-sm btn-outline-secondary action-btn" %>
          <% else %>
            <%= link_to 'Edit Profile Settings', update_users_path(current_user), class: "btn btn-sm btn-outline-secondary action-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <%= link_to 'My Articles', profile_path(@profile.username), class: "nav-link #{'active' if current_page?(profile_path(@profile.username))}" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Favorited Articles', favorited_profile_path(@profile.username), class: "nav-link #{'active' if current_page?(favorited_profile_path(@profile.username))}" %>
            </li>
          </ul>
        </div>

        <% if @articles %>
            <% @articles.each do |article| %>
            <div class="article-preview">
                <div class="article-meta">
                <a href="<%= profile_path(article.author.username) %>"><img src="<%= article.author.image %>" /></a>
                <div class="info">
                    <a href="<%= profile_path(article.author.username) %>" class="author"><%= article.author.username %></a>
                    <span class="date"><%= article.created_at.strftime('%B %e, %Y') %></span>
                </div>
                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                    <i class="ion-heart"></i> <%= article.favorites_count %>
                </button>
                </div>
                <a href="<%= article_path(article.slug) %>" class="preview-link">
                <h1><%= article.title %></h1>
                <p><%= article.description %></p>
                <span>Read more...</span>
                <ul class="tag-list">
                    <% article.tags.each do |tag| %>
                    <li class="tag-default tag-pill tag-outline"><%= tag.name %></li>
                    <% end %>
                </ul>
                </a>
            </div>
            <% end %>
        <% else %>
            <div class="article-preview">
                No articles are here... yet.
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
