<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Feed</a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link active" href="#">Global Feed</a>
            </li>
          </ul>
        </div>

        <% if @articles %>
          <% @articles.each do |article| %>
            <% author = article.author %>
            <div class="article-preview">
              <div class="article-meta">
                <% if author %>
                  <a href="/profile/<%= author.username %>"><img src="<%= author.image %>" /></a>
                  <div class="info">
                    <a href="/profile/<%= author.username %>" class="author"><%= author.username %></a>
                    <span class="date"><%= article.created_at.strftime('%B %d, %Y') %></span>
                  </div>
                <% end %>
                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                  <i class="ion-heart"></i> <%= article.favorites_count %>
                </button>
              </div>
              <a href="/article/<%= article.slug %>" class="preview-link">
                <h1><%= article.title %></h1>
                <p><%= article.description %></p>
                <span>Read more...</span>
                <ul class="tag-list">
                  <% article.tags.each do |tag| %>
                    <li class="tag-default tag-pill tag-outline"><%= tag %></li>
                  <% end %>
                </ul>
              </a>
            </div>
          <% end %>
        <% else %>
          <div class="article-preview">
            No articles are here... yet.
          </div>
        <% end %>

        <ul class="pagination">
          <li class="page-item active">
            <a class="page-link" href="">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">2</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <% if @tags %>
              <% @tags.each do |tag| %>
                <a href="" class="tag-pill tag-default"><%= tag.name %></a>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
